<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>Fruits</h1>
      <ul>
        <!--         <li v-for="{ name, emoji } in fruits" :key="fruit.id">
          {{ emoji }} - <strong>{{ name }}</strong>
        </li>
 -->
        <li v-for="fruit in fruits" :key="fruit.id">
          {{ fruit.emoji }} - <strong>{{ fruit.name }}</strong>
        </li>

        <div v-for="n in 10" :key="n">{{ n }}</div>
      </ul>
    </div>
  </body>

  <script src="https://unpkg.com/vue@3"></script>
  <script>
    Vue.createApp({
      data() {
        return {
          fruits: [
            {
              id: 11,
              name: "Apple",
              emoji: "🍏",
            },
            {
              id: 12,
              name: "Banana",
              emoji: "🍌",
            },
            {
              id: 13,
              name: "Strawberry",
              emoji: "🍓",
            },
            {
              id: 14,
              name: "Melon",
              emoji: "🍉",
            },
            {
              id: 15,
              name: "Ananas",
              emoji: "🍍",
            },
            {
              id: 16,
              name: "Mango",
              emoji: "🥭",
            },
          ],
        };
      },
    }).mount("#app");
  </script>
</html>
