<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS</title>
  </head>
  <body>
    <h1>hello world</h1>
    <main id="app">
      <p>{{ hello }}</p>
      <button id="btn1" @click="add">Addiere</button>
      <button id="btn2" @click="counter--">Subtrahiere</button>
      <p>{{counter}}</p>
      <p class="warning" v-if="this.counter > 200">Hinweis: Wert zu hoch</p>
      <p class="ok" v-else>Wert ist in Ordnung</p>
      <input type="text" name="" v-model="message" />
      <p>{{message}}</p>

      <a :href="link">Google</a>
      <ul>
        <li
          v-for="fruit in shoppinglist"
          :class="{warning: fruit.sale, ok: !fruit.sale}"
        >
          {{fruit.item}} für {{fruit.preis}} €
        </li>
      </ul>
      <h3>Only Sale</h3>
      <ul>
        <li v-for="fruit in onlySale">{{fruit.item}} für {{fruit.preis}} €</li>
      </ul>

      <h3>Filtered by Range</h3>
      <input type="range" v-model="range" min="0" max="700" />
      <p>{{range}}</p>
      <ul>
        <li v-for="fruit in filterValues">
          {{fruit.item}} für {{fruit.preis}} €
        </li>
      </ul>
      <btn-counter desc="Klick mich!"></btn-counter>
      <btn-counter desc="Click me!"></btn-counter>
    </main>
  </body>
</html>
<script src="https://unpkg.com/vue@latest"></script>
<script>
  const app = Vue.createApp({
    data: function () {
      return {
        message: "",
        link: "https://google.de",
        hello: "Hello World",
        range: 150,
        counter: 0,
        shoppinglist: [
          { item: "Apfel", preis: 100, sale: true },
          { item: "Banane", preis: 150, sale: false },
          { item: "Kiwi", preis: 200, sale: true },
          { item: "Mango", preis: 350, sale: true },
          { item: "Pfirsich", preis: 250, sale: true },
        ],
      };
    },
    methods: {
      add() {
        if (this.counter > 3) {
          this.counter = this.counter * 3;
        } else {
          this.counter++;
        }
      },
    },
    computed: {
      onlySale: function () {
        return this.shoppinglist.filter((product) => product.sale);
      },
      filterValues: function () {
        return this.shoppinglist.filter(
          (product) => product.preis > this.range
        );
      },
    },
  });

  app.component("btn-counter", {
    props: ["desc"],
    data: function () {
      return {
        counter: 0,
      };
    },
    methods: {
      countUp: function () {
        this.counter++;
      },
    },
    template: `<button class="button" @click="countUp">{{desc}}</button>
              <p>{{counter}}</p>`,
  });

  app.mount("#app");
</script>

<style>
  .warning {
    color: red;
  }
  .ok {
    color: green;
  }
</style>
