<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Mixer Vue</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body id="app">
    <header>
      <form id="form">
        <label for="red"
          ><span>red</span>
          <input
            class="mixer-range"
            type="range"
            id="red"
            name="mixer-range"
            step="1"
            min="0"
            max="255"
            value="{{red}}"
            v-model="red"
          />
        </label>

        <label for="green"
          ><span>green</span>
          <input
            class="mixer-range"
            type="range"
            id="green"
            name="mixer-range"
            step="1"
            min="0"
            max="255"
            value="{{green}}"
            v-model="green"
        /></label>
        <label for="blue"
          ><span>blue</span>
          <input
            class="mixer-range"
            type="range"
            id="blue"
            name="mixer-range"
            step="1"
            min="0"
            max="255"
            value="{{blue}}"
            v-model="blue"
        /></label>
      </form>
      <section id="rgb">rgb({{red}},{{green}}, {{blue}})</section>
    </header>
    <main id="main" :style="{backgroundColor: rgb}"></main>

    <script src="https://unpkg.com/vue@latest"></script>
    <script src="script.js"></script>
  </body>
</html>
