html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  font-size: 1rem;
  font-family: monospace;
}
header {
  background: #dddbf1;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: auto;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 2rem;
}

label {
  font-size: 1rem;
  padding: 1rem;
  position: relative;
}

label span {
  position: absolute;
  top: 1.7rem;
  left: -20000rem;
  color: #fff;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  border-radius: 2.2rem;
  padding-inline: 0.2rem;
  border: 2px solid #000;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background-color: #000;
  width: 30px;
  height: 30px;
  margin: 0.1rem;
  border-radius: 15px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: #000;
  width: 30px;
  height: 30px;
  margin: 0.1rem;
  border-radius: 15px;
  cursor: pointer;
}

input[type="range"]#red {
  background: red;
}

input[type="range"]#green {
  background: #00ff00;
}

input[type="range"]#blue {
  background: #0000ff;
}
